<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Tamaño fuente
    <span class="badge text-bg-primary">
      <div class="btn-group" role="group" aria-label="Basic tamaño toggle button group">
        <input type="radio" class="btn-check" name="btntamaño" id="btntamaño1" autocomplete="off"
          (change)="changeSize('tamaño1')" [checked]="isSizeSelected('tamaño1')">
        <label class="btn btn-primary" for="btntamaño1">
          Pequeño
        </label>

        <input type="radio" class="btn-check" name="btntamaño" id="btntamaño2" autocomplete="off"
          (change)="changeSize('tamaño2')" [checked]="isSizeSelected('tamaño2')">
        <label class="btn btn-primary" for="btntamaño2">
          Mediano
        </label>

        <input type="radio" class="btn-check" name="btntamaño" id="btntamaño3" autocomplete="off"
          (change)="changeSize('tamaño3')" [checked]="isSizeSelected('tamaño3')">
        <label class="btn btn-primary" for="btntamaño3">
          Grande
        </label>
      </div>
    </span>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-center">
    Modo
    <span class="badge text-bg-primary">
      <div class="btn-group" role="group" aria-label="Basic tipo toggle button group">
        <input type="radio" class="btn-check" name="btntipo" id="btntipo1" autocomplete="off"
          (change)="changeTipo('oscuro')" [checked]="isTipoSelected('oscuro')">
        <label class="btn btn-primary" for="btntipo1">Oscuro</label>

        <input type="radio" class="btn-check" name="btntipo" id="btntipo2" autocomplete="off"
          (change)="changeTipo('claro')" [checked]="isTipoSelected('claro')">
        <label class="btn btn-primary" for="btntipo2">Claro</label>
      </div>
    </span>
  </li>
</ul>
<p class="p-3 h4 text-center mt-auto"><strong>Ajustes.component</strong></p>
