<div class="row" style="background-color: aquamarine;">
  <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 border ">
    <div class="p-3">
      <app-operacion></app-operacion>
    </div>
    <p class="p-3 h4 text-center mt-auto "><strong>Operacion.component</strong></p>
  </div>

  <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 border">
    <div class="p-3" id="Historial">
      <app-historial></app-historial>
    </div>
    <p class="p-3 h4 text-center mt-auto"><strong>History.component</strong></p>
  </div>
</div>

<div class="row" style="background-color: bisque;">
  <div class="col-12 h4 text-center" >
    <p><strong>History.service</strong></p>
  </div>


</div>
