<div class="row">
  <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 border" style="background-color: #87fdd5; border: 2px solid rgb(3, 109, 135);">
    <div class="p-3">
      <app-operacion></app-operacion>
    </div>
    <p class="p-3 h4 text-center mt-auto "><strong>Operacion.component</strong></p>
  </div>

  <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="background-color: rgb(43, 0, 255); border: 2px solid rgb(28, 0, 166);">
    <div class="p-3" id="Historial">
      <app-historial></app-historial>
    </div>
    <p class="p-3 h4 text-center mt-auto"><strong>History.component</strong></p>
  </div>
</div>

<div class="row" style="background-color: bisque; border: 2px solid #959b4f;">
  <div class="col-12 h4 text-center mt-2">
    <p><strong>History.service</strong></p>
  </div>

</div>
