:host {
  display: block;
}

.tarea-completada {
  background-color: green;
}

.tarea-no-completada {
  background-color: red;
}

.oscuro-modal{
  background-color: black !important;
  border: 1px solid lightgrey;
}

.claro-modal{
  background-color: white !important;
  border: 1px solid;
}
