<div class="calculator">
  <div id="display" class="bg-light p-2 mb-3 text-end">{{ currentInput || 0 }}</div>
        <div class="row g-1">

    <div class="col-6">
      <button class="btn btn-secondary w-100" (click)="onButtonClick('AC')">AC</button>
    </div>

    <div class="col-3">
      <button class="btn btn-secondary w-100" (click)="onButtonClick('%')">%</button>
    </div>
    <div class="col-3">
      <button class="btn btn-secondary w-100" (click)="onButtonClick('/')">/</button>
    </div>


    <div class="col-3">
      <button class="btn btn-light w-100" (click)="onButtonClick('7')">7</button>
    </div>
    <div class="col-3">
      <button class="btn btn-light w-100" (click)="onButtonClick('8')">8</button>
    </div>
    <div class="col-3">
      <button class="btn btn-light w-100" (click)="onButtonClick('9')">9</button>
    </div>
    <div class="col-3">
      <button class="btn btn-secondary w-100" (click)="onButtonClick('*')">*</button>
    </div>


    <div class="col-3">
      <button class="btn btn-light w-100" (click)="onButtonClick('4')">4</button>
    </div>
    <div class="col-3">
      <button class="btn btn-light w-100" (click)="onButtonClick('5')">5</button>
    </div>
    <div class="col-3">
      <button class="btn btn-light w-100" (click)="onButtonClick('6')">6</button>
    </div>
    <div class="col-3">
      <button class="btn btn-secondary w-100" (click)="onButtonClick('-')">-</button>
    </div>

    <div class="col-3">
      <button class="btn btn-light w-100" (click)="onButtonClick('1')">1</button>
    </div>
    <div class="col-3">
      <button class="btn btn-light w-100" (click)="onButtonClick('2')">2</button>
    </div>
    <div class="col-3">
      <button class="btn btn-light w-100" (click)="onButtonClick('3')">3</button>
    </div>
    <div class="col-3">
      <button class="btn btn-secondary w-100" (click)="onButtonClick('+')">+</button>
    </div>

    <div class="col-3">
      <button class="btn btn-light w-100" (click)="onButtonClick('0')">0</button>
    </div>
    <div class="col-3">
      <button class="btn btn-light w-100" (click)="onButtonClick('.')">.</button>
    </div>
    <div class="col-6">
      <button class="btn btn-primary w-100" (click)="onButtonClick('=')">=</button>
    </div>


  </div>
</div>
