<div class="row" style="background-color: rgb(249, 69, 177);">
  <p class="p-3 h4 text-center mt-auto"><strong>Tareas.component</strong></p>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border" style="background-color: rgb(206, 255, 127);">
    <div class="p-3">
      <app-lista
      [listaTareas]="listaTareas" (notificarNuevaTarea)="agregarTarea($event)"
      (notificarEliminacionTarea)="borrarTarea($event)"
      (notificarEdicionTarea)="editarTarea($event)"
      [listaTareas]="listaTareas" (notificarEstadoTareaActualizada)="actualizarEstadoTarea($event.id, $event.completada)"
      >
    </app-lista>
    </div>
  </div>




</div>
