:host {
  display: block;
}



.list-group-item span {
  cursor: pointer;
  border: 1px;
  margin: 3px;
  background-color: #0d6efd;
  color: white;
  border-radius: 3px;
  padding: 5px;
}


.tarea{
  float: left;
    max-width: 150px !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden;
}



.acciones{
  float: right;
}

abbr[title] {
  text-decoration: none;
}

abbr[title]:hover {
  text-decoration: underline;
  text-decoration-color: #666;
  }

abbr[title]:hover::after {
  content: attr(title);
  position: absolute;
  background-color: #a9a9a9;
  padding: 5px;
  font-size: 12px;
  font-style: italic;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
}

/*
.form-check-label abbr[title]::after {
  content: attr(title);
  position: absolute;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s, transform 0.4s;
}

.form-check-label abbr[title]:hover::after {
  opacity: 1;
}
*/




