<div class="menu">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="d-flex w-100 justify-content-between align-items-center d-lg-none">
        <h1 class="display-6 mx-auto">{{ title }}</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="list-group w-100">
          <li class="list-group-item" [class.active]="activePage=='home'" (click)="setActive('home')">Home</li>
          <li class="list-group-item" [class.active]="activePage=='calculadora'" (click)="setActive('calculadora')">Calculadora</li>
          <li class="list-group-item" [class.active]="activePage=='tareas'" (click)="setActive('tareas')">Tareas</li>
          <li class="list-group-item" [class.active]="activePage=='ajustes'" (click)="setActive('ajustes')">Ajustes</li>
        </ul>
      </div>
    </div>
  </nav>
</div>
