
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.row {
  width: 100%;
}

.col-md-3, .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}




