
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#Historial{
  max-height: 500px;
  overflow-y: auto;
}

.container-fluid {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.row {
  width: 100%;
}

.col-md-3, .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.tamaño1 {
  --bs-body-font-size: 12px !important;
  p , div, span , a , input , button, label {
    font-size: 12px;
  }
  h1{font-size: 16px;}
  h4{font-size: 14px;}
}

.tamaño2 {
  --bs-body-font-size: 16px !important;
  p , div, span , a , input , button , label {
    font-size: 16px;
  }
  h1{font-size: 20px;}
  h4{font-size: 18px;}
}

.tamaño3 {
  --bs-body-font-size: 20px !important;
  p , div, span , a , input , button , label {
    font-size: 20px;
  }
  h1{font-size: 24px;}
  h4{font-size: 22px;}
}

.oscuro {
  --bs-body-bg: rgb(43, 43, 43);
  --bs-body-color: white;
  /* background-color: black; */
  /* color: white; */
  .modal-content{
    background-color: rgb(43, 43, 43) !important;
    border: 1px solid lightgrey;
  }
  .list-group-item{
    color: white !important;
  }
  .form-control::placeholder {
    color: rgb(220, 220, 220) !important;
    opacity: 1 !important; /* Firefox */
  }
  .form-control::-ms-input-placeholder { /* Edge 12 -18 */
    color: rgb(220, 220, 220);;
  }
  .navbar-toggler{
    background-color: grey;
  }

}

.navbar-toggler {
  --bs-navbar-toggler-focus-width: 0,15rem;
  --bs-navbar-toggler-border-color: rgb(174, 174, 174);
}

.claro {
  --bs-body-bg: rgb(255, 255, 255);
  --bs-body-color: rgb(36, 36, 36);
  .modal-content{
    background-color: white !important;
    border: 1px solid;
  }
  .list-group-item{
    color: rgb(0, 0, 0) !important;
  }
  .list-group-item.active{
    color: rgb(255, 255, 255) !important;
  }
  .form-control::placeholder {
    color: rgb(0, 0, 0) !important;
    opacity: 0.6 !important; /* Firefox */
  }
  .form-control::-ms-input-placeholder { /* Edge 12 -18 */
    color: rgb(0, 0, 0) !important;
    opacity: 0.6 !important;
  }

}













